* {
  font-size: 16px;
  padding: 0px;
  background: transparent;
}

window#waybar {
  /* Linear gradients are used because it makes less harsh rounded border radius, gtk bug :p */
  background-image: linear-gradient(to bottom, #141216 100%, #141216 100%);
  border-radius: 0px;
  padding: 0px;
}

#network,
#clock,
#custom-applauncher,
#tray,
#workspaces,
#custom-rotate,
#custom-ups,
#custom-keyboard,
#pulseaudio {
  background-image: linear-gradient(to bottom, #27232b 100%, #27232b 100%);

  margin: 4px;
  padding: 4px 8px;
  border-radius: 8px;
  color: #d8cab8;

  border-style: none;
  transition-duration: 120ms;
}

#pulseaudio:hover {
  background-image: linear-gradient(to bottom, #ac82e9 100%, #ac82e9 100%);
  color: #141216;
  transition-duration: 120ms;
}

#custom-applauncher {
  font-weight: bold;
  transition-duration: 120ms;
}
#custom-applauncher:hover {
  background-image: linear-gradient(to bottom, #ac82e9 100%, #ac82e9 100%);
  color: #141216;
  transition-duration: 120ms;
}

#tray menu {
  background-color: #141216;
  color: #d8cab8;
  padding: 4px;
}
#tray menu menuitem {
  background-image: linear-gradient(to bottom, #27232b 100%, #27232b 100%);

  margin: 3px;
  color: #d8cab8;
  border-radius: 4px;
  border-style: solid;
  border-color: #27232b;
}
#tray menu menuitem:hover {
  background-image: linear-gradient(to bottom, #27232b 100%, #27232b 100%);
  color: #ac82e9;
  font-weight: bold;
}

#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  font-weight: bold;
  color: #d8cab8;

  padding: 0px 10px;
}

#workspaces button.focused {
  color: #8f56e1;
  font-weight: bold;
}
#workspaces button.active {
  color: #8f56e1;
  font-weight: bold;
}
#workspaces button.urgent {
  color: #fcb167;
}
